<!DOCTYPE html>
<html lang="en" ng-app="TicTacToe">
    <header>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">

        <!-- CSS stylesheets-->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="glyphter-font/css/Glyphter.css">
        <link rel="stylesheet" href="style.css">
        
        <!-- Preloaded scripts-->
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
    </header>
    <body>
        <div class="tic-tac-toe" ng-controller="TicTacToeController">
            <h1 class="text-center">Tic-Tac-Toe</h1>

            <div class="container">
                <div class="text-center" ng-class="{'hide' : gameStarted}">
                    <h2>Select the icon you would like to use:</h2>
                    <br>
                    <div class="icon-selector row">
                        <div class="icon-container col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-4" ng-repeat="icon in icons">
                            <button class="icon {{icon.name}} btn" title="{{icon.name}}" ng-click="setPlayerSymbol($event)"></button>
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-info fade in alert-dismissible" ng-class="{'hide' : !alertMsg}">
                        To play the game, you must first select an icon.
                        <button type="button" class="close" aria-label="Close" ng-click="closeAlert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <button class="startBtn btn btn-default" ng-click="startGame()">Start Game</button>
                    </div>
                </div>

                <div class="game-board row" ng-class="{'hide' : !gameStarted}" ng-model="gameBoard">
                    <div class="board-row" title="{{$index}}" ng-repeat="row in gameBoard">
                        <div class="board-col playIcon {{col.symbol}} col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" title="{{$index}}" ng-repeat="col in row" ng-click="playersMove($event)">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- jQuery, Popper.js, and Bootstraps JavaScript plugins -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>

